# Portable Git
pgit/
PortableGit.exe

# Node
node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/

# Database
backend/*.db
backend/*.sqlite
*.sqlite3

# Uploads & Reports runtime files
backend/uploads/*
!backend/uploads/.gitkeep
backend/reports/*
!backend/reports/.gitkeep
